nav {
    display: flex;
    justify-content: space-between;
    background-color: #1111119d;
    color: #fff;
    margin-bottom: 30px;
}

nav h1 {
    margin: 10px;
}

nav ul {
    margin-left: auto;
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav li a:hover {
    color: rgb(255, 160, 36);
    text-decoration: underline;
}